<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Golf Courses</title>
  </head>
  <body>
    <h1>All Golf Courses</h1>
    <ul>
      <% for (let course of courses){%>
      <li><%= course.name %></li>
      <% }%>
    </ul>
  </body>
</html>
