<% layout('layouts/boilerplate') %>
<h1>All Golf Courses</h1>
<div>
  <a href="/golfcourses/new">Add Golf Course</a>
</div>
<ul>
  <% for (let course of courses){%>
  <li><a href="/golfcourses/<%= course._id %>"><%= course.name %></a></li>
  <% }%>
</ul>
