<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golf Course</title>
  </head>
  <body>
    <h1><%= course.name %></h1>
    <h2><%= course.description %></h2>
  </body>
</html>
